extends ../shared/layout
block main-content
    .panel.panel-default
        .panel-body.text-center
            h3 #[strong #{carsCount}] cars were found based on your search criteria.
            h4 The results are sorted by #[strong #{sort.orderBy}] in #[strong #{sort.direction}] order.
    .container.row
        a.btn.btn-default.btn-lg.btn-block(href="/cars/search") New car search
        if (currentUser)
            a.btn.btn-default.btn-lg.btn-block(href="/cars/create") Create a car advertisement
    .row.text-center
        ul.pagination
            - var n = 1, m = 1;
            while n <= searchPages
                li
                    a(href=searchUrl + '&page=' + n++)= m++

    table.table.table-striped.table-hover
        thead
            th.col-md-2.text-center
            th.col-md-2.text-center Make
            th.col-md-2.text-center Model
            th.col-md-2.text-center Transmission
            th.col-md-2.text-center Engine
            th.col-md-2.text-center Price
        tbody
            each car in cars
                tr.text-center.text-capitalize
                    td.col-md-2
                        if(car.image)
                            a(href="/cars/details/#{car._id}")
                                img.img-responsive(src='/images/#{car.image}' alt="car image")
                        else
                            a(href="/cars/details/#{car._id}")
                                img.img-responsive(src="/images/car.jpg" alt="car image")
                    td.col-md-2=car.make
                    td.col-md-2=car.model
                    td.col-md-2=car.transmission
                    td.col-md-2=car.fuel
                    td.col-md-2=car.price