extends ../shared/layout
block main-content
    .panel.panel-default
        .panel-body.text-center
            h3 #[strong #{carsCount}] cars were found based on your search criteria.
            h4 The results are sorted by #[strong #{sort.orderBy}] in #[strong #{sort.direction}] order.
    .container.row
        a.btn.btn-default.btn-lg.btn-block(href="/cars/search") New car search
        if (currentUser)
            a.btn.btn-default.btn-lg.btn-block(href="/cars/create") Create a car advertisement
    .row.text-center
        ul.pagination
            - var n = 1, m = 1;
            while n <= searchPages
                li
                    a(href=searchUrl + '&page=' + n++)= m++
    each car in cars
        .container.col-md-6
            .panel.panel-default
                .panel-heading
                    h3.panel-title #{car.make + ' ' + car.model}
                .panel-body
                    a(href="/cars/details/" + car._id.toString())
                        .container.col-md-5
                            if(car.image)
                                img.img-responsive(src='/images/#{car.image}' alt="car image")
                            else
                                img.img-responsive(src="/images/car.jpg" alt="car image")
                        .container.col-md-7
                            h3 #{car.make + ' ' + car.model}
                                span.pull-right #{car.price} $
                            p
                                strong Production year: #{car.yearOfProduction}, Horsepower: #{car.power}, Mileage: #{car.mileage} km, Fuel type: #{car.fuel}, Car location: #{car.location}