extends ../shared/layout
block main-content
    form.form-horizontal(method="post" action="/cars/update/"+ car._id)
        fieldset
            .form-group
                label.control-label.col-md-2(for="make") Make*
                .col-md-4
                    select.form-control(id="make" required="required"  name="make")
                        option(value=car.make) #{car.make}
                        option(disabled) ──────────
                        each make in carMakes
                            option(value=make) #{make}
                label.control-label.col-md-2(for="model") Model*
                .col-md-4
                    input.form-control(id="model" type="text" required="required" name="model" placeholder="Model" value=car.model)
            .form-group
                label.control-label.col-md-2(for="transmission") Transmission*
                .col-md-4
                    select.form-control(id="transmission" required="required" name="transmission")
                        option(value=car.transmission) #{car.transmission}
                        option(disabled) ──────────
                        option(value="automatic") Automatic
                        option(value="manual") Manual
                label.control-label.col-md-2(for="fuel") Fuel*
                .col-md-4
                    select.form-control(id="fuel" required="required" name="fuel")
                        option(value=car.fuel) #{car.fuel}
                        option(disabled) ──────────
                        option(value="petrol") Petrol
                        option(value="diesel") Diesel
                        option(value="hybrid") Hybrid
                        option(value="electric") Electric
                        option(value="lpg") LPG
                        option(value="cng") CNG
            .form-group
                label.control-label.col-md-2(for="yearOfProduction") Year of Production*
                .col-md-4
                    input.form-control(id="yearOfProduction" value=car.yearOfProduction min='1900' max='2100' type="number" name="yearOfProduction" required="required" placeholder="Year of production")

                label.control-label.col-md-2(for="mileage") Mileage in Km*
                .col-md-4
                    input.form-control(id="mileage" type="number" value=car.mileage min="0" name="mileage" required="required" placeholder="Car mileage in Km")
            .form-group
                label.control-label.col-md-2(for="price") Price in $*
                .col-md-4
                    input.form-control(id="price" min='0' type="number" value=car.price name="price" required="required" placeholder="Price")

                label.control-label.col-md-2(for="power") Horsepower
                .col-md-4
                    input.form-control(id="power" type="number" value=car.power min="1" name="power" placeholder="Horsepower")
            .form-group
                label.control-label.col-md-2(for="location") Car location*
                .col-md-4
                    input.form-control(id="location" type="text" value=car.location name="location" required="required" placeholder="Car location")
                label.control-label.col-md-2(for="imagesUrl") Image(URL)
                .col-md-4
                    input.form-control(id="imagesUrl" type="text" value=car.imagesUrl name="imagesUrl" placeholder="Url to car image")
            .form-group
                label.control-label.col-md-2(for="description") Description
                .col-md-10
                    textarea.form-control(id="description" rows="3" name="description" placeholder="Description") #{car.description}
            .form-group
                label.control-label.col-md-2(for="phone") Contact phone
                .col-md-4
                    input.form-control(id="phone" type="text" value=car.phone name="phone" placeholder="Contact phone")
                label.control-label.col-md-2(for="phone") Contact e-mail
                .col-md-4
                    input.form-control(id="email" type="email" value=car.email name="email" placeholder="Contact e-mail")
            br
            .form-group
                .col-md-offset-2.col-md-10
                    button.btn.btn-lg.btn-default.col-md-6(type="submit") Save
                    a.btn.btn-lg.btn-default.col-md-6(href='/cars/details/' + car._id) Cancel
    .alert.alert-dismissable.col-md-10.col-md-offset-2
        p.text-center Fields marked with * are required.