extends ../shared/layout
block main-content
    form(method="post", action="/real-estates/delete/#{estate.id}")
        h1.text-center= estate.type
        .container.col-md-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title
                .panel-body
                    .container.col-md-6
                        if(estate.image)
                            img.img-responsive(src="images/#{estate.image}" alt="estate image")
                    .container.col-md-6
                        h2 #{estate.type}
                        p
                            strong City: #{estate.city}
                        p
                            strong Address: #{estate.address}
                        p
                            strong Price: #{estate.price}
                        p
                            strong Quadrature: #{estate.quadrature}
                        p
                            strong Deal Type: #{estate.dealType}
                        p
                            strong Mode Info: #{estate.moreInformation}
        .col-md-2
        if(estateModerate)
            a.btn.btn-lg.btn-primary.col-md-12(href='/real-estates/#{estate.id}/edit') Edit
            br
            button.btn.btn-lg.btn-danger.col-md-12(type='submit') Delete