extends ../shared/layout
block main-content
    form.form-horizontal(method="post", action="/real-estates/#{estate.id}")
        fieldset
            legend Edit Real Estate
            .form-group
                label.col-lg-2.control-label(for="type") Type
                .col-lg-10
                    select#type.form-control(name="type", required="required" value="#{estate.type}")
                        each estate in estates
                            option= estate
            .form-group
                label.col-lg-2.control-label(for="quadrature") Quadrature
                .col-lg-10
                    input#quadrature.form-control(type='number',name="quadrature",min="1", step="0.1", placeholder='Quadrature', required="required", value="#{estate.quadrature}")

            .form-group
                label.col-lg-2.control-label(for="price") Price
                .col-lg-10
                    input#price.form-control(type='number',name="price",min="1", step="0.1",  placeholder='Price', required="required",value="#{estate.price}")
            .form-group
                label.col-lg-2.control-label(for="city") City
                .col-lg-10
                    input#city.form-control(type='text',name="city" placeholder='City', required="required",value="#{estate.city}")
            .form-group
                label.col-lg-2.control-label(for="address") Address
                .col-lg-10
                    input#address.form-control(type='text',name="address" placeholder='Address', required="required", value="#{estate.address}")
            .form-group
                label.col-lg-2.control-label(for="dealType") Deal Type
                .col-lg-10
                    select#dealType.form-control(name="dealType", required="required", value="#{estate.dealType}")
                        each type in deals
                            option= type
            .form-group
                label.col-lg-2.control-label(for="description") More Information
                .col-lg-10
                    textarea#description.form-control(name="moreInformation",placeholder='More Information...') #{estate.moreInformation}
            .form-group
                label.col-lg-2.control-label(for="images") Images
                .col-lg-10
                    input#images(type="file" multiple="multiple" name="images")

            .form-group
                .col-lg-10.col-lg-offset-2
                    a.btn.btn-default.pull-right(href="/") Cancel
                    button.btn.btn-primary.pull-right(type="submit") Update